//*****Common color start ******//
$white: #fff;
$black: #000;
$bckground: green;
$bg-overlay: rgba(0, 0, 0, 0.5);

//*****Common color ends******//
//*****Theme color start ******//
$primary-color: #32b675;
$btn-color: #333333;
$srvc-cnt-color: #303030;
$btn-bg: #fbd258;
$btn-learn-color: #32b675;
//*****Theme color ends******//
//*****About us part color start******//
$title-color: $black;
$prh-color: #666666;
//*****About us part color ends******//
//*****Another part color start******//
$about-bg-overlay: rgba(50, 182, 117, 0.8);
//*****Another part color ends******//
//*****portfolio part color start******//
$port-color: rgba(50, 182, 117, 0.8);
$port-overly-color: #32b675;
//*****portfolio part color ends******//
//*****footer part color start******//
$footer-color: #dddddd;

//*****footer part color ends******//
